<h1 id="device"></h1>

<div id="location"></div>

<div id="main_container">
    <div id="loading_screen"></div>
    <div id="site_container"></div>
</div>

<div id="sky"></div>
<div id="sun_yellow"></div>
<div id="sun_red"></div>
<div id="clouds"></div> 
<div id="ground"></div>
<div id="night"></div>
<div id="stars"></div>        
<div id="sstar"></div>
<div id="moon"></div> 
<div id="title"></div>
<div>
	<a id="back" href="http://www.tympanus.net/codrops/2009/12/14/day-and-night-creating-animation-with-jquery-and-css/"></a>
</div>
