<h1>Preferences</h1>

<%= @user %>


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li id='morningTab' class="active"><a href="#morningContent" data-toggle="tab">Morning</a></li>
  <li id='noonTab' ><a href="#noonContent" data-toggle="tab">Noon</a></li>
  <li id='afternoonTab' ><a href="#afternoonContent" data-toggle="tab">Afternoon</a></li>
  <li id='eveningTab' ><a href="#eveningContent" data-toggle="tab">Evening</a></li>
  <li id='nightTab' ><a href="#nightContent" data-toggle="tab">Night</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane active" id="morningContent">
    <div class="content-input">
      <input type="text" id="morning_keyword_new" placeholder="Morning Keyword">
      <input type="submit" class="btn btn-default btn-xs" value="Add Keyword">
    </div>
  </div>

  <div class="tab-pane" id="noonContent">
    <div class="content-input">
      <input type="text" id="noon_keyword_new" placeholder="Noon Keyword">
      <input type="submit" class="btn btn-default btn-xs" value="Add Keyword">
    </div>
  </div>

  <div class="tab-pane" id="afternoonContent">
    <div class="content-input">
      <input type="text" id="afternoon_keyword_new" placeholder="Afternoon Keyword">
      <input type="submit" class="btn btn-default btn-xs" value="Add Keyword">
    </div>
  </div>

  <div class="tab-pane" id="eveningContent">
    <div class="content-input">
      <input type="text" id="evening_keyword_new" placeholder="Evening Keyword">
      <input type="submit" class="btn btn-default btn-xs" value="Add Keyword">
    </div>
  </div>

  <div class="tab-pane" id="nightContent">
    <div class="content-input">
      <input type="text" id="night_keyword_new" placeholder="Night Keyword">
      <input type="submit" class="btn btn-default btn-xs" value="Add Keyword">
    </div>
  </div>

</div>