<h1>Preferences</h1>

<%= @keywords %>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li id='morningTab' class="active"><a href="#morningContent" data-toggle="tab">Morning</a></li>
  <li id='noonTab' ><a href="#noonContent" data-toggle="tab">Noon</a></li>
  <li id='afternoonTab' ><a href="#afternoonContent" data-toggle="tab">Afternoon</a></li>
  <li id='nightTab' ><a href="#nightContent" data-toggle="tab">Night</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="morningContent">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, repudiandae, sapiente, est a adipisci quos maiores placeat esse ullam laboriosam in minima corporis delectus dolorem eveniet dignissimos nisi impedit itaque.</p>
  </div>
  <div class="tab-pane" id="noonContent">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quasi, labore, ipsam ex velit deserunt facilis a quis nulla neque amet natus consequatur nemo vel repellendus. Consectetur consequatur illum molestias?</p>
  </div>
  <div class="tab-pane" id="afternoonContent">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, eius harum nemo ea voluptas doloremque quaerat minima minus eos optio molestiae autem animi rerum. Voluptates consectetur accusamus ipsum molestias mollitia!</p>
  </div>
  <div class="tab-pane" id="nightContent">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quod, vero, sit, debitis officiis rem ex soluta id numquam obcaecati error deleniti cum ea nisi ratione autem sapiente praesentium eos!</p>
  </div>
</div>