<h1>Preferences</h1>

<%= @keywords %>

<ul class="nav nav-tabs">
  <li id='morning' class='active'><a href="">Morning</a></li>
  <li id='noon'><a href="">Noon</a></li>
  <li id='afternoon'><a href="">Afternoon</a></li>
  <li id='evening'><a href="">Evening</a></li>
  <li id='night'><a href="">Night</a></li>
</ul>