html { 
  height: 100%
}

body { 
  height: 100%; margin: 0; padding: 0;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {
  margin-top: 0px;
}

form {
  color: #000000;
}

div.devise {
  width: 19em;
  padding: 0.5em 1em 1em 1.5em;
  background-color: #ddd;
  border-radius: 2em;
  color: #33367F;
  margin:0 auto;
}

div.checkboxupperspacing {
  margin: 0.8em 0em 0em 0em;
}
/*input #user_remember_me .checkbox{
  padding: 2em;
}*/

.navbar-default {
  background-color: #282a64;
  border-color: #282a64;
}

.navbar-default .navbar-brand {
  color: #66ffff;
  font-family: 'Playfair Display', serif;
}

.navbar-default .navbar-nav > li > a {
  color: #e6e6e6;
}

main {
  background-color: transparent;
}

#map-canvas { 
  height: 500px;
  width: 500px;
}

.hide {
  display: none;
}

ul {
  list-style-type: none;
  display: center;
}

li {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

li.name {
  font-size: 1.6em;
}

.site-container {
  margin: 0 auto;
  width: 100%;
}

.tab-content {
  background: #ffffff;
  color: #555555;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.9em;
}

.keyword-container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left : 20px;
  padding-right : 20px;
  background-color: #4c4c4c;
  color: #cccccc;
  display: inline-block;
  margin-top: 5px;
}

.keyword-container-hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

:hover .keyword-container-hover {
  opacity: 1;
}
