html { 
  height: 100%
}

body { 
  height: 100%; margin: 0; padding: 0;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

form {
  color: #000000;
}

.navbar-default {
  background-color: #282a64;
  border-color: #282a64;
}

.navbar-default .navbar-brand {
  color: #66ffff;
  font-family: 'Playfair Display', serif;
}

.navbar-default .navbar-nav > li > a {
  color: #e6e6e6;
}

main {
  background-color: transparent;
}

#map-canvas { 
  height: 500px;
  width: 500px;
}

.hide{
  display: none;
}

ul{
  list-style-type: none;
}

li{
  font-family: 'Nunito', sans-serif;
}

li.name{
  font-size: 1.3em;
}

