html { 
	height: 100%
}

.fa-clock-o {
  font-size: 0.7em;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

body { 
	background-image: url('/assets/background.jpg'); 
	background-size: cover;
	background-attachment: fixed;

}


#main_container{
	z-index: 1;
}

.navbar { margin-bottom: 0px; }


main {
  margin-top: 0px;
}

form {
	color: #000000;
}

.TimelyLogo{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 78px;
  padding-left: 75px;
  margin-left: -77px;
  margin-top: 10px;
  background-color: #ffcc66;
  border: 1px #191919 dotted;
  color: #191919;
	transform:rotate(310deg);
	-ms-transform:rotate(310deg); /* IE 9 */
	-webkit-transform:rotate(310deg); /* Safari and Chrome */

}

div#error_explanation h3 {
	color: red;
}
div#error_explanation ul li{
	text-align: left;
}
div#error_explanation ul{
	padding-left: 0;
}

#devise_sign_up_button_id a{
	display: block;
	width: 85px;
	background-color: rgb(192, 192, 192);
	padding: 0.4em 0.3em 0.4em 0.3em;
	text-align: center;
	border-radius: 5px;
	color: black;
}
#devise_sign_in_button_id a{
	display: block;
	width: 85px;
	background-color: rgb(192, 192, 192);
	padding: 0.4em 0.3em 0.4em 0.3em;
	text-align: center;
	border-radius: 5px;
	color: black;
}

/* Overriding Bootstrap's default font size for buttons */
.btn {
	font-size: 1.2em;
}

.btn-xs {
  font-size: 1em;
}

.content-input {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .8em;
}

div.devise {
	width: 19em;
	padding: 0.5em 1em 1em 1.5em;
	background-color: #ddd;
	border-radius: 2em;
	color: #33367F;
	margin:0 auto;
}

.flash {
	text-align: center;
	padding: 10px 15px 10px 0;
	margin-top: 1em;
	background-color: #ddd;
	color: #33367F;
	border: 1px solid black; 
	border-radius: 1em;
}

div.checkboxupperspacing {
	margin: 0.8em 0em 0em 0em;
}
/*input #user_remember_me .checkbox{
	padding: 2em;
}*/

.navbar-default {
	background-color: #282a64;
	border-color: #282a64;
}

.navbar-default .navbar-brand {
	color: #66ffff;
	font-family: 'Playfair Display', serif;
}

.navbar-default .navbar-nav > li > a {
	color: #e6e6e6;
}

main {
	background-color: transparent;
}

#map-canvas { 
	height: 500px;
	width: 500px;
}

.hide {
	display: none;
}

ul {
	list-style-type: none;
	display: center;
}

li {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 /* text-align: center;*/
}

li.name {
	font-size: 1.6em;
}

li.more_info_button {
  text-align: center;
}

.more_info {
  color: #00c4ff;
  text-align: left;
}

.site-container {
	margin: 0 auto;
	width: 100%;
}

.list {
	background-color: rgba(255,255,255,0.30);
	border-radius: 15px;
	max-width: 70%;
}

.tab-content {
	background: #ffffff;
	color: #545454;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 0.9em;
}

.keyword-container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left : 20px;
  padding-right : 20px;
  background-color: #324a85;
  color: #e4e4e4;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

.keyword-container:hover {
  background: #ff6666;
  color: #191919;
  text-decoration: line-through;
}


@media (max-width: 480px) {
  .more_info_button { display: none;}
  .list { border: solid black 1px; padding: 10px; background: #fff;}
}
