/*body{
    overflow:hidden;
}*/
#clouds, #sky, #night, #stars{
    position:fixed;
            background-attachment: fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;

}
#sky{
    background:#fff url("../assets/sky.png") repeat-x top left;
    /*background:#fff url(../images/sky.png) repeat-x top left;*/
    z-index:-6;
}
#sun_yellow{
    position:absolute;
    left:75%;
    top:50%;
    width:150px;
    height:152px;
    background:transparent url("../assets/sun.png") no-repeat center center;
    z-index:-5;
}
#sun_red{
    position:absolute;
    left:75%;
    top:50%;
    width:150px;
    height:152px;
/*    background:transparent url("../assets/shootingstar.png") no-repeat 80px -200px;*/
    background:transparent url("../assets/sun2.png") no-repeat center center;



    
/*    background:transparent url("../assets/shootingstar.png") no-repeat center center;*/
    z-index:-5;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#clouds{
    background:transparent url("../assets/clouds.png") repeat-x top left;
            background-attachment: fixed;
    z-index:-4;
}
#ground{
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:232px;
    background:transparent url("../assets/ground.png") repeat-x bottom center;
            background-attachment: fixed;
    z-index:-4;
}
#night{
    background-color:#000;
    z-index:-3;
    opacity:0;
position: fixed;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#stars{
    bottom:200px;
    background:transparent url("../assets/stars.png") repeat bottom center;
    z-index:-2;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#sstar{
    position:absolute;
    left:40%;
    top:10%;
    width:126px;
    height:80px;
    background:transparent url("../assets/shootingstar.png") no-repeat 80px -200px;
        background-attachment: fixed;    
    z-index:2;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#moon{
    position:absolute;
    left:75%;
    top:60%;
    width:168px;
    height:168px;
    background:transparent url("../assets/moon.png") no-repeat center center;
    z-index:-1;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

/* Just for the showcase*/

/*#title{
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:300px;
    NOTE: THIS WILL NOT DEPLOY TO HEROKU;
    background:transparent asset-url("title.png", image) no-repeat center center;
    z-index:-1;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#back{
    position:absolute;
    right:0px;
    bottom:0px;
    width:176px;
    height:50px;
    NOTE: THIS WILL NOT DEPLOY TO HEROKU;
    background:transparent asset-url("back.png", image) no-repeat center center;
    z-index:-1;
    outline:none;
    cursor:pointer;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}*/