html { 
  height: 100%
}

body { 
  height: 100%; margin: 0; padding: 0;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  background-color: transparent;
}

#map-canvas { 
  height: 500px;
  width: 500px;
}