html { 
  height: 100%
}

body { 
  height: 100%; margin: 0; padding: 0;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

form {
  color: #000000;
}

/*header {
  padding: 9px;
  text-align: center;
  height: 50px;
  background-color: #282a64;*/
  /*background-color: #0c2a40;*/
/*  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  color: #ffffff;*/
/*  text-shadow: 0em 0.1em #66ccff;*/
  /*box-shadow: 0px 3px 2px #ffffff;*/
/*}*/

main {
  background-color: transparent;
}

#map-canvas { 
  height: 500px;
  width: 500px;
}